* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Song Myung", serif;
  font-size: 24px;
  background-color: #2f3648;
  color: #d8d8d9;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
