* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Song Myung", serif;
  font-size: 20px;
  background-color: #2f3648;
  color: #2f3648;
}

@media (max-width: 768px) {
  html {
    background-color: transparent;
  }
}

#root {
  max-width: 472px;
  margin: 0 auto;
  text-align: center;
}

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
