@import url("https://fonts.googleapis.com/css2?family=Song+Myung&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Song Myung", serif;
  font-size: 20px;
  background-color: #2f3648;
  color: #2f3648;
}

@media (max-width: 768px) {
  html {
    background-color: transparent;
  }
}

#root {
  max-width: 472px;
  margin: 0 auto;
  text-align: center;
}
